.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
    text-align: left;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

.chat-img {
    width: 50px;
    height: 50px;
    margin-top: 12px;
}

.chat-img img {
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------------- */

.well {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.file-details-row,
.subject-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.file-details-row > .author-avatar-column,
.subject-row > .subject-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject-row > .subject-column {
    padding-top: 15px;
    padding-bottom: 15px;
}

.subject-row > .subject-column > p {
    margin: 0;
    color: #3194b5;
}

.subject-row > .subject-column > h3 {
    margin: 0;
    width: 100%;
}

.author-avatar-column > img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.forum-inputs {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
}

textarea.forum-inputs {
    resize: none;
}

textarea:focus {
    outline: none;
    border-bottom: 1px solid #3194b5;
}

hr {
    border-top: 1px solid black;
}