.padding-bottom{
  padding-bottom: 15px;
}
.padding-top{
  padding-top:15px;
}
.backgroung{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* meniu */
.avatar{
  width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* dropdown */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus{
  background-color: #3194b5;
  color: white;
}
a{
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color:black;
}
/* END dropdown */
.meniu{
  color: white;
  background-color: #3194b5;
  margin-left: -16px;
  text-align:center;
  height:100vh;
  padding-top: 50px;
}
.menu-int{
    padding: 10px;
}
.menu-int:hover {
  background-color: white;
  cursor:pointer;
}
.menu-int:hover a {
  color: black;
  font-weight: bold;
}
.menu-active {
  background-color: white;
}
.menu-active a {
  color: black !important;
  font-weight: bold;
}
.menu-int a{
  text-decoration:none;
  color:white;
}
.header{
  font-family: serif;
    font-size: 20px;
  color:#3194b5;
  padding-bottom: 5%;
  padding-top: 5%;
}
a{
  text-decoration: none;
    color: black;
}
a:hover{
  text-decoration:none;
  color:white;
}
/* END meniu */
/* detalii cont */

.contact-form{
  /* text-align: center; */
    padding-bottom: 15px;
}

/* END detalii cont */
/* incarca fisiere */

.area {
  /* width: 45em; */
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
  color:white;
  background: grey;
}
.dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font: 21pt bold arial;
  color: #bbb;
}
/* END incarca fisiere */
/* forum */
.textarea{
  height: 30%;
    width: 100%;
  resize:none;
}
.buton-chat{
  text-align: right;
    padding-top: 10px;
    margin-right: 0px;
}
/* END forum */
/* setari cont */
.photo{
  width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* END setari cont */

.fs-navbar {
  background-color:#3194b5;
  margin:0;
  height: 50px;
  border-color: transparent;
}
.navbar>.container-fluid .navbar-brand:hover{
  color:white;
}
.navbar-brand{
  padding: 15px 15px;
}
.site-name{
    display: flex;
    justify-content: flex-start;
    max-width: 216px;
    padding-top: 13px;
}

input[type="text"],
input[type="password"] {
  margin-top:-5px;
  padding: 5px;
  font-weight: bold;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 1px solid #3194b5;
}

.register-input {
  margin: 0;
  width: 100%;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white !important;
}