<div class="row" ng-if="$parent.selectedBranch && !$parent.selectedSubject">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h3>Subiecte</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h5><span ui-sref="forum" style="color: #3194b5;">Domenii</span> > {{selectedBranch.name}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr/>
			</div>
		</div>
		<div class="row" style="margin-top: 25px;">
			<div class="col-xs-12">
				<form name="addNewSubjectForm" ng-submit="addNewSubject(addNewSubjectForm)" novalidate>
					<div class="row">
						<div class="col-xs-3">
							<div class="row">
								<div class="col-xs-12 text-center">
									<img ng-src="{{authUser.avatar || 'img/avatar-placeholder.png'}}" style="width:70px; height:70px; border-radius:50%;"/>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-center">
									<h4>{{authUser.lastname}} {{authUser.firstname}}</h4>
								</div>
							</div>
						</div>
						<div class="col-xs-9">
							<div class="row">
								<div class="col-xs-12">
									<input class="forum-inputs" type="text" placeholder="Titlu" ng-model="$parent.newSubject.title" required>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12" style="padding-top: 25px;">
									<textarea class="forum-inputs" placeholder="Descriere" rows="2" ng-model="$parent.newSubject.description" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" style="text-align:right;">
							<button class="btn btn-primary" type="submit" ng-disabled="addNewSubjectForm.$invalid">
								<i class="fa fa-plus" aria-hidden="true" style="margin-right: 10px;"></i> Adauga
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr/>
			</div>
		</div>
		<div class="row" ng-repeat="subject in selectedBranch.subjects | orderBy: 'created_at': true track by $index" ng-mouseenter="isOver=true" ng-mouseleave="isOver=false" style="margin-top: 30px; margin-bottom: 30px;">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3">
						<div class="row">
							<div class="col-xs-12 text-center">
								<img ng-src="{{subject.user.avatar || 'img/avatar-placeholder.png'}}" style="width:70px; height:70px; border-radius:50%;"/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<h4>{{subject.user.lastname}} {{subject.user.firstname}}</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-9">
						<div class="row subject-row">
							<div class="col-xs-9 subject-column">
								<h3>{{subject.title}}</h3>
							</div>
							<div class="col-xs-3 subject-column">
								<p>{{getDateFromString(subject.created_at) | date:'yyyy-MM-dd HH:mm'}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p>{{subject.description}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="isOver">
					<div class="col-xs-12" style="text-align:right;">
						<a class="btn btn-primary" ng-click="setSelectedSubject(subject)">
							<i class="fa fa-eye" aria-hidden="true" style="margin-right: 10px;"></i> Deschide
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>