<div ng-controller="AccountConfirmationController">
  <form name="confirmForm" ng-submit="confirmAccount()" novalidate class="text-center" style="padding:20%;">
  <div class="padding-bottom">Parola trebuie să conțină cel puțin 8 caractere, dintre care cel puțin o literă mică, una mare și o cifră.</div>
    <div class="row padding-bottom">
      <div class="col-xs-2 col-xs-offset-4">
        Email 
      </div>
      <div class="col-xs-6 text-left">
        <input type="text" ng-model="data.email"/>
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-xs-2 col-xs-offset-4">
        Cod 
      </div>
      <div class="col-xs-6 text-left">
        <input name="code" type="text" ng-model="data.code" required/>
      </div>
      <div class="col-xs-12" ng-messages="confirmForm.code.$error" ng-if="confirmForm.code.$touched || confirmForm.$submitted">
        <p ng-message="required">Câmp obligatoriu!</p>
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-xs-2 col-xs-offset-4">
        Parolă 
      </div>
      <div class="col-xs-6 text-left">
        <input name="password" type="password" ng-model="data.password" required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/"/>
      </div>
      <div class="col-xs-12" ng-messages="confirmForm.password.$error" ng-if="confirmForm.password.$touched || confirmForm.$submitted">
        <p ng-message="required">Câmp obligatoriu!</p>
        <p ng-message="pattern">Parola nu respectă formatul!</p>
      </div>
    </div>
    <div class="row padding-bottom">
      <div class="col-xs-2 col-xs-offset-4">
        Confirmare parolă 
      </div>
      <div class="col-xs-6 text-left">
        <input name="password_confirmation" type="password" ng-model="data.password_confirmation" required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/"/>
      </div>
      <div class="col-xs-12" ng-messages="confirmForm.password_confirmation.$error" ng-if="confirmForm.password_confirmation.$touched || confirmForm.$submitted">
        <p ng-message="required">Câmp obligatoriu!</p>
        <p ng-message="pattern">Parola nu respectă formatul!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" type="submit" ng-disabled="confirmForm.$invalid">Confirmă</button>
      </div>
    </div>
  </form>
</div>