<div class="row-fluid">
    <div ng-include="'layout/header.html'"></div>
    <div class="col-xs-12 text-center" style="padding:0; padding-top:50px;">
        <p style="background-color: #eee; padding: 20px;">
            <span ng-click="navigateToHomePage()" style="cursor: pointer;">Mergi la pagina principală</span>
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div
            ng-controller="DownloadController"
            class="col-xs-10 col-xs-offset-1 text-center"
            style="padding-top:4%;"
            >
            <div class="row" ng-if="finishedRequest && !file">
                <div class="col-xs-12">
                    Fișierul căutat nu există sau a expirat!
                </div>
            </div>
            <div class="row" ng-if="finishedRequest && file">
                <div
                    class="col-xs-12"
                    ng-class="{'col-md-6' : isUserAuthenticated()}"
                >
                    <div class="well well-sm">
                        <div class="row file-details-row">
                            <div class="col-xs-6 col-md-4 author-avatar-column">
                                <img ng-src="{{ file.user.avatar || 'img/avatar-placeholder.png' }}" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-xs-6 col-md-8">
                                <h3>
                                    <span style="font-weight: bold;">{{file.name}}</span>
                                </h3>
                                <p style="text-align: left;">
                                    <span style="font-weight: bold;">Autor:</span>
                                    <span ng-if="file.user">{{file.user.lastname}} {{file.user.firstname}}</span>
                                    <span ng-if="!file.user">Vizitator</span>
                                </p>
                                <p style="text-align: left;">
                                    <span style="font-weight: bold;">Domeniu:</span>
                                    {{file.branch.name}}
                                </p>
                                <p style="text-align: left;">
                                    <span style="font-weight: bold;">Dimensiune:</span>
                                    {{getReadableFileSizeFormat()}}
                                </p>
                                <p style="text-align: left;">
                                    <span style="font-weight: bold;">Data incarcarii:</span>
                                    {{file.created_at}}
                                </p>
                                <p style="text-align: left;">
                                    <span style="font-weight: bold;">Data expirarii:</span>
                                    {{file.expire_date}}
                                </p>
                                <!-- Split button -->
                                <div class="btn-group">
                                    <a class="btn btn-success" ng-click="startDownload()">
                                        <i class="fa fa-download" aria-hidden="true" style="margin-right: 10px;"></i>
                                        Descarcare
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chat -->
                <div class="col-xs-12 col-md-6" ng-if="isUserAuthenticated()">
                    <div class="row">
                        <div class="panel-body">
                            <ul class="chat" id="file-chat" dom-on-create="scrollChatToBottom()">
                                <li tabindex="1" class="left clearfix" ng-repeat="message in file.messages">
                                    <span
                                        class="chat-img"
                                        ng-class="{
                                            'pull-left' : message.user.id != authUser.id,
                                            'pull-right' : message.user.id == authUser.id
                                        }"
                                        >
                                    <img ng-src="{{ message.user.avatar || 'img/avatar-placeholder.png' }}" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">
                                                {{message.user.lastname}} {{message.user.firstname}}
                                            </strong>
                                            <small
                                                class="text-muted"
                                                ng-class="{
                                                    'pull-right' : message.user.id != authUser.id,
                                                    'pull-left' : message.user.id == authUser.id
                                                }"
                                            >
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{message.created_at}}
                                            </small>
                                        </div>
                                        <p>
                                            {{ message.text }}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <textarea class="form-control" ng-model="$parent.$parent.message" placeholder="Comentariu" rows="1" style="resize:none"></textarea>
                                <span class="input-group-addon" ng-click="$parent.$parent.message != '' && postMessage()" style="background-color: #286090;border-color: #204d74;color:white;">
                                    Send
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'modals/request-password.html'"></div>
        </div>
    </div>
</div>