<div class="row-fluid" ng-controller="FilesController">
  <div ng-include="'layout/header.html'"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: white;">
    <div ng-include="'layout/sidebar.html'"></div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-3" style="padding-top:60px;">
    	<div class="row">
    		<div class="col-xs-12">
				<div class="row padding-bottom">
					<div class="col-xs-6" style="text-align: right;">
						<span ng-click="tab = 0">Fișierele mele</span>
					</div>
					<div class="col-xs-6">
						<span ng-click="tab = 1">Toate fișierele</span>
					</div>
				</div>
			</div>
    	</div>
    	<div class="row">
            <div class="col-xs-12 col-md-6 text-center padding-bottom" ng-if="tab == 1">
                <select
                    name="branch"
                    ng-model="$parent.branch"
                    ng-options="branch as branch.name for branch in branches track by branch.id"
                ></select>
            </div>
    		<div
                class="col-xs-12 text-center padding-bottom"
                ng-class="{'col-md-6' : tab == 1}"
            >
    			<input ng-model="search" type="text" placeholder="Caută"/>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-xs-12 col-sm-3 padding-bottom">
    			Nume
    		</div>
    		<div class="col-xs-12 col-sm-3 padding-bottom">
    			Data încărcării
    		</div>
    		<div class="col-xs-12 col-sm-3 padding-bottom">
    			Dimensiune
    		</div>
    		<div class="col-xs-12 col-sm-3 padding-bottom">
    			Acțiune
    		</div>
    	</div>
    	<div class="row" ng-repeat="file in files | filter:{name: search} | trim:tab:authUser.id:branch.id track by $index" ng-mouseenter="isOver = true" ng-mouseleave="isOver = false">
    		<div class="col-xs-3">
    			{{file.name}}
    		</div>
    		<div class="col-xs-3">
    			{{file.created_at}}
    		</div>
    		<div class="col-xs-3">
    			{{file.size}}
    		</div>
    		<div class="col-xs-3" ng-if="isOver">
    			<a class="btn btn-primary" ui-sref="download({download_url: file.download_url})">Vezi</a>
    			<a class="btn btn-danger" ng-click="deleteFile(file)" ng-if="file.user_id == authUser.id">Șterge</a>
    		</div>
    	</div>
    </div>
  </div>
</div>