<div class="row-fluid">
  <div ng-include="'layout/header.html'"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: white;">
    <div ng-include="'layout/sidebar.html'"></div>
    <div ng-controller="ForumController" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-3" style="padding-top:60px;">
    	<!-- View Branches -->
		<div class="row" ng-if="!selectedBranch">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3>Domenii</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="branch in branches">
						<div class="btn btn-primary" ng-click="setSelectedBranch(branch)" style="width: 100%; margin-top: 25px;">
							<p>{{branch.name}}</p>
							<p>{{branch.subjects.length}} subiecte</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- View Subjects -->
		<div class="row" ng-if="selectedBranch && !selectedSubject">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3>Subiecte</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h5>
							<span ui-sref="forum" style="color: #3194b5;cursor:pointer;">Domenii</span> >
							{{selectedBranch.name}}
						</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row" style="margin-top: 25px;">
					<div class="col-xs-12">
						<form name="addNewSubjectForm" ng-submit="addNewSubject(addNewSubjectForm)" novalidate>
							<div class="row">
								<div class="col-xs-3">
									<div class="row">
										<div class="col-xs-12 text-center">
											<img ng-src="{{authUser.avatar || 'img/avatar-placeholder.png'}}" style="width:70px; height:70px; border-radius:50%;"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 text-center">
											<h4>{{authUser.lastname}} {{authUser.firstname}}</h4>
										</div>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="row">
										<div class="col-xs-12">
											<input class="forum-inputs" type="text" placeholder="Titlu" ng-model="$parent.newSubject.title" required>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12" style="padding-top: 25px;">
											<textarea class="forum-inputs" placeholder="Descriere" rows="2" ng-model="$parent.newSubject.description" required/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12" style="text-align:right;">
									<button class="btn btn-primary" type="submit" ng-disabled="addNewSubjectForm.$invalid">
										<i class="fa fa-plus" aria-hidden="true" style="margin-right: 10px;"></i> Adauga
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row" ng-repeat="subject in selectedBranch.subjects | orderBy: 'created_at': true track by $index" ng-mouseenter="isOver=true" ng-mouseleave="isOver=false" style="margin-top: 30px; margin-bottom: 30px;">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-3">
								<div class="row">
									<div class="col-xs-12 text-center">
										<img ng-src="{{subject.user.avatar || 'img/avatar-placeholder.png'}}" style="width:70px; height:70px; border-radius:50%;"/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-center">
										<h4>{{subject.user.lastname}} {{subject.user.firstname}}</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-center">
										<p style="color: #3194b5;">
											<i class="fa fa-comment-o" aria-hidden="true"></i> {{subject.messages.length}} comentarii
										</p>
									</div>
								</div>
							</div>
							<div class="col-xs-9">
								<div class="row subject-row">
									<div class="col-xs-9 subject-column">
										<h3>{{subject.title}}</h3>
									</div>
									<div class="col-xs-3 subject-column">
										<p>{{getDateFromString(subject.created_at) | date:'yyyy-MM-dd HH:mm'}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<p>{{subject.description}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="isOver">
							<div class="col-xs-12" style="text-align:right;">
								<a class="btn btn-danger" ng-click="deleteSubject(subject)" ng-if="subject.user.id == authUser.id">
									<i class="fa fa-times" aria-hidden="true" style="margin-right: 10px;"></i> Sterge
								</a>
								<a class="btn btn-primary" ng-click="setSelectedSubject(subject)">
									<i class="fa fa-eye" aria-hidden="true" style="margin-right: 10px;"></i> Deschide
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- View Messages -->
		<div class="row" ng-if="selectedBranch && selectedSubject">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h3>Mesaje</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h5>
							<span ui-sref="forum" style="color: #3194b5;cursor:pointer;">Domenii</span> >
							<span ui-sref="forum.subjects({forum_name: selectedBranch.name})" style="color: #3194b5;cursor:pointer;">{{selectedBranch.name}}</span> >
							{{selectedSubject.title}} <i class="fa fa-trash-o" aria-hidden="true" ng-if="selectedSubject.user.id == authUser.id" style="color: red;" ng-click="deleteSubject(selectedSubject)"></i>
						</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p><span style="font-weight:bold">Descriere: </span> {{selectedSubject.description}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row" style="margin-top: 25px;">
					<div class="col-xs-12">
						<form name="addNewMessageForm" ng-submit="addNewMessage(addNewMessageForm)" novalidate>
							<div class="row">
								<div class="col-xs-3">
									<div class="row">
										<div class="col-xs-12 text-center">
											<img ng-src="{{authUser.avatar || 'img/avatar-placeholder.png'}}" style="width:70px; height:70px; border-radius:50%;"/>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 text-center">
											<h4>{{authUser.lastname}} {{authUser.firstname}}</h4>
										</div>
									</div>
								</div>
								<div class="col-xs-9">
									<div class="row">
										<div class="col-xs-12">
											<textarea class="forum-inputs" placeholder="Mesaj" rows="2" ng-model="$parent.newMessage.text" required/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12" style="text-align:right;">
									<button class="btn btn-primary" type="submit" ng-disabled="addNewMessageForm.$invalid">
										<i class="fa fa-plus" aria-hidden="true" style="margin-right: 10px;"></i> Adauga
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<hr/>
					</div>
				</div>
				<div class="row" ng-repeat="message in selectedSubject.messages | orderBy: 'created_at': true track by $index" ng-mouseenter="isOver=true" ng-mouseleave="isOver=false" style="margin-top: 30px; margin-bottom: 30px;">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-3">
								<div class="row">
									<div class="col-xs-12 text-center">
										<img ng-src="{{message.user.avatar || 'img/avatar-placeholder.png'}}" style="width:70px; height:70px; border-radius:50%;"/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-center">
										<h4>{{message.user.lastname}} {{message.user.firstname}}</h4>
									</div>
								</div>
							</div>
							<div class="col-xs-9">
								<div class="row subject-row">
									<div class="col-xs-12 subject-column">
										<p style="width: 100%; text-align: right;">
											{{getDateFromString(message.created_at) | date:'yyyy-MM-dd HH:mm'}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<p>{{message.text}}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="isOver && message.user.id == authUser.id">
							<div class="col-xs-12" style="text-align:right;">
								<a class="btn btn-danger" ng-click="deleteMessage(message)">
									<i class="fa fa-times" aria-hidden="true" style="margin-right: 10px;"></i> Sterge
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>