<div class="backgroung" style="background-image: url('img/background.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="row">
                    <div class="col-xs-12">
                        <p style="font-size:50px;">FastShare</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="" style="color:#9e9e9e; font-size:18px;">Transfer rapid de fișiere.</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-xs-12">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Autentificare</a>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#register-modal">Înregistrare</a>
                    </div>
                </div>
                <div ng-controller="UploadController">
                    <div class="row" ng-if="!uploadObject.file" style="margin-top: 150px;">
                        <div class="col-xs-12" ng-click="triggerUpload()" id="dropZone" dom-on-create="createDragAndDropZone()">
                            <div class="row">
                                <div class="col-xs-12">
                                    <i class="fa fa-cloud-upload fa-6" aria-hidden="true" style="font-size: 100px; color: white"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span style="color:white;">Trageti fisierele sau faceti click pe imagine</span>
                                </div>
                            </div>

                            <input type="file" style="display:none;" id="upload-input" ng-file-select>
                        </div>
                    </div>

                    <div class="row" ng-if="uploadObject.file" style="margin-top: 150px;">
                        <form name="uploadForm" ng-if="uploadObject.file" ng-submit="upload(uploadForm)" novalidate>
                            <div class="padding-bottom">
                                <span style="font-weight:bold; color:white;">Nume:</span>
                                <span style="color:white;">{{uploadObject.file.name}}</span>
                            </div>
                            <div class="padding-bottom">
                                <span style="font-weight:bold; color:white;">Dimensiune:</span>
                                <span style="color:white;">{{uploadObject.file.size/1000000}} MB</span>
                            </div>
                            <div class="padding-bottom">
                                <span style="font-weight:bold; color:white;">Domeniu:</span>
                                <select name="branch" ng-model="uploadObject.branch" ng-options="branch as branch.name for branch in branches track by branch.id" required></select>
                            </div>
                            <div>
                                <a class="btn btn-danger" ng-click="cancelUploadForm(uploadForm)">Anulare</a>
                                <button class="btn btn-success" type="submit" ng-disabled="uploadForm.$invalid">Confirmare</button>
                            </div>
                        </form>
                    </div>

                    <div ng-include="'modals/share-link.html'" dom-on-create="addShareLinkModalEvent()"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="notification-container" style="position: fixed; top: 0px; width: 100%; text-align: center;">
    <notification></notification>
</div>
<div ng-include="'modals/login.html'"></div>
<div ng-include="'modals/register.html'"></div>
