<div ng-controller="RedirectController" style="padding:20%;" class="text-center">
	<h4>Contul dumneavoastră a fost creat! Pe adresa de e-mail a fost trimis un mesaj cu codul de confirmare al contului. Vă mulțumim!</h4>
	<br/><br/>
	<h4>Veți fi redirecționat(ă) către pagina principală în 3 secunde.</h4>
</div>