<div class="row-fluid">
	<div ng-include="'layout/header.html'"></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: white;">
    <div ng-include="'layout/sidebar.html'"></div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-3" ng-controller="SettingsController" style="padding-top:60px;">
			<form name="form" ng-submit="saveSettings(form)" novalidate>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="row contact-form">
							<div class="col-xs-5 col-md-6 text-right">
								<span>Nume</span>
							</div>
							<div class="col-xs-7 col-md-6 text-left">
								<input name="lastname" type="text" ng-model="editUserModel.lastname"
									required
									ng-pattern="/^[a-zA-Z](['\s-]?[a-zA-Z])*$/" 
								>
								<div ng-messages="form.lastname.$error" ng-if="form.lastname.$touched">
									<p ng-message="required">Numele este obligatoriu</p>
									<p ng-message="pattern">Camp invalid</p>
								</div>
							</div>
						</div>
						<div class="row contact-form">
							<div class="col-xs-5 col-md-6 text-right">
								<span>Prenume</span>
							</div>
							<div class="col-xs-7 col-md-6 text-left">
								<input name="firstname" type="text" ng-model="editUserModel.firstname"
									required
									ng-pattern="/^[a-zA-Z](['\s-]?[a-zA-Z])*$/" 
								>
								<div ng-messages="form.firstname.$error" ng-if="form.firstname.$touched">
									<p ng-message="required">Prenumele este obligatoriu</p>
									<p ng-message="pattern">Camp invalid</p>
								</div>
							</div>
						</div>
						<div class="row contact-form">
							<div class="col-xs-5 col-md-6 text-right">
								<span>E-mail</span>
							</div>
							<div class="col-xs-7 col-md-6 text-left">
								<input name="email" type="text" ng-model="editUserModel.email" ng-change="errors.email = ''"
									required
									ng-pattern="/^[a-zA-Z]([._]?[a-zA-Z0-9])*[@][a-zA-Z]+(\.[a-zA-Z]+)+$/" 
								>
								<div ng-if="errors.email != ''">
									<p>E-mail existent</p>
								</div>
								<div ng-messages="form.email.$error" ng-if="form.email.$touched">
									<p ng-message="required">E-mailul este obligatoriu</p>
									<p ng-message="pattern">Camp invalid</p>
								</div>
							</div>
						</div>
						<div class="row contact-form">
							<div class="col-xs-5 col-md-6 text-right">
								<span>Parola actuala</span>
							</div>
							<div class="col-xs-7 col-md-6 text-left">
								<input name="oldPassword" type="password" ng-model="editUserModel.old_password" ng-change="errors.password=''"
									ng-required="editUserModel.new_password || editUserModel.new_password_confirmation"
								>
								<span ng-if="errors.password != ''">Parola gresita</span>
								<div ng-messages="form.oldPassword.$error" ng-if="form.oldPassword.$touched">
									<p ng-message="required">Parola actuala este obligatorie</p>
								</div>
							</div>
						</div>
						<div class="row contact-form">
							<div class="col-xs-5 col-md-6 text-right">
								<span>Parola noua</span>
							</div>
							<div class="col-xs-7 col-md-6 text-left">
								<input name="newPassword" type="password" ng-model="editUserModel.new_password"
									ng-required="editUserModel.new_password_confirmation || editUserModel.old_password"
									ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/"
								>
								<div ng-messages="form.newPassword.$error" ng-if="form.newPassword.$touched">
									<p ng-message="required">Noua parola este obligatorie</p>
									<p ng-message="pattern">Camp invalid</p>
								</div>
							</div>
						</div>
						<div class="row contact-form">
							<div class="col-xs-5 col-md-6 text-right">
								<span>Confirmă parola</span>
							</div>
							<div class="col-xs-7 col-md-6 text-left">
								<input name="newPasswordConfirmation" type="password" ng-model="editUserModel.new_password_confirmation"
									ng-required="editUserModel.new_password || editUserModel.old_password"
									ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/"
									validateConfirmation="{{editUserModel.new_password}}"
								>
								<div ng-messages="form.newPasswordConfirmation.$error" ng-if="form.newPasswordConfirmation.$touched">
									<p ng-message="required">Confirmarea parolei este obligatorie</p>
									<p ng-message="pattern">Camp invalid</p>
									<p ng-message="confirmed">Confirmare incorecta</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 text-center">
						<div class="row" ng-if="!editUserModel.iconAccepted">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<img-crop
									image="editUserModel.avatarSrc"
									result-image="editUserModel.myCroppedImage"
								></img-crop>
								<img id="croppedImg" ng-src="{{editUserModel.myCroppedImage}}" style="display:none;"/>
							</div>
						</div>
						<div class="row">
							<div class="row" ng-if="editUserModel.iconAccepted">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="cursor:pointer;">
									<img
										id="avatar-drag-and-drop-container"
										ng-src="{{editUserModel.myCroppedImage==''?editUserModel.initialAvatar:editUserModel.myCroppedImage}}"
										ng-click="triggerUpload()"
										dom-on-create="createDragAndDropZone()" 
									style="width: 200px; height: 200px; border-radius: 50%;"/>
									<input type="file" accept="image/*" ng-file-select style="display:none" id="upload-avatar" name="filedata"/>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ubuntu cs-14 text-center">
									Trageti imaginea aici sau faceti click
								</div>
							</div>
							<div class="row padding-quote text-center" ng-if="!editUserModel.iconAccepted">
								<span>
									<a class="btn btn-success" ng-click="acceptProfileIcon(form)">Accept image</a>
								</span>
								<span>
									<a class="btn btn-danger" ng-click="cancelProfileIcon()">Cancel</a>
								</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="padding-top:10%;">
					<div class="col-xs-12 text-center">
						<a class="btn btn-danger" ng-click="cancelEditAccount(form)">Anulare</a>
						<button class="btn btn-primary" type="submit" ng-disabled="form.$invalid || !editUserModel.iconAccepted">
							Salvare
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>