<div class="row-fluid">
  <div ng-include="'layout/header.html'"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: white;">
    <div ng-include="'layout/sidebar.html'"></div>
    <div ng-controller="UploadController" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-3" style="padding-top:60px;">
		<div class="area" ng-click="triggerUpload()" ng-if="!uploadObject.file">
			<div class="dropZone" id="dropZone" style="color:white;" dom-on-create="createDragAndDropZone()">Trage fișierul aici</div>
		</div>
		<input type="file" style="display:none;" id="upload-input" ng-file-select>

		<form name="uploadForm" ng-if="uploadObject.file" ng-submit="upload(uploadForm)" novalidate class="text-center">
			<div class="padding-bottom">
				<span style="font-weight:bold;">Nume:</span>
				<span> {{uploadObject.file.name}}</span>
			</div>
			<div class="padding-bottom">
				<span style="font-weight:bold;">Dimensiune:</span>
				<span> {{uploadObject.file.size/1000000}} MB</span>
			</div>
			<div class="padding-bottom">
				<span style="font-weight:bold;">Domeniu:</span>
				<select name="branch" ng-model="uploadObject.branch" ng-options="branch as branch.name for branch in branches track by branch.id" required></select>
			</div>
			<div class="padding-bottom">
				<span style="font-weight:bold;">Parolă?</span>
				<input type="checkbox" ng-model="uploadObject.passwordProtected">
				<input name="pass" type="text" ng-if="uploadObject.passwordProtected" ng-model="uploadObject.password" ng-required="uploadObject.passwordProtected">
				<div ng-messages="uploadForm.pass.$error" ng-if="uploadForm.pass.$touched || uploadForm.$submitted">
                <p ng-message="required">Câmp obligatoriu!</p></div>
			</div>
			<div>
				<a class="btn btn-danger" ng-click="cancelUploadForm(uploadForm)">Anulare</a>
				<button class="btn btn-primary" type="submit" ng-disabled="uploadForm.$invalid">Confirmare</button>
			</div>
		</form>

		<div ng-include="'modals/share-link.html'" dom-on-create="addShareLinkModalEvent()"></div>
    </div>
  </div>
</div>