<nav class="navbar navbar-default navbar-fixed-top fs-navbar">
	<div class="container-fluid">
		<div class="navbar-header col-md-4 col-sm-1 col-xs-1" style="padding:0;">
			<a class="navbar-brand" style="font-size:25px; color:white;">
				FastShare
			</a>
		</div>
		<ul
			class="nav navbar-nav navbar-right pull-right col-xs-11 col-sm-11 col-md-8"
			style="padding-right: 0; margin-top: 0;"
			ng-if="isUserAuthenticated()"
		>
			<li class="dropdown pull-right">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="client-name" style="background-color:transparent; color:white;">
					{{authUser.firstname}} {{authUser.lastname}}
					<span class="caret" style=""></span></a>
				<ul class="dropdown-menu pull-right cs-dropdown-menu" role="menu" style="padding: 3px 0px; position:absolute; text-align:right; background-color: #3194b5;">
					<li>
						<a class="hidden-sm hidden-md hidden-lg" ui-sref="files">Fișiere încărcate</a>
					</li>
					<li>
						<a class="hidden-sm hidden-md hidden-lg" ui-sref="upload">Încarcă fișiere</a>
					</li>
					<li>
						<a class="hidden-sm hidden-md hidden-lg" ui-sref="forum">Forum</a>
					</li>
					<li>
						<a class="hidden-sm hidden-md hidden-lg" ui-sref="settings">Setări</a>
					</li>
					<li>
						<a ng-click="logout()"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i> Deconectare</a>
					</li>
				</ul>
			</li>
			<li class="pull-right">
				<div class="" style="padding: 5px 0px;">
					<img class="avatar" ng-src="{{ authUser.avatar || 'img/avatar-placeholder.png' }}" style="border: 1px solid white;">
				</div>
			</li>
		</ul>
	</div>
</nav> <!-- // header -->