<div class="hidden-xs col-sm-2 col-md-2 col-lg-2 meniu" style="color:white; background-color: #3194b5; position: fixed;">
      <div class="row menu-int" ng-class="{'menu-active':state.current.name=='files'}" ui-sref="files">
        <a>Fișiere încărcate</a>
      </div>
      <div class="row menu-int" ng-class="{'menu-active':state.current.name=='upload'}" ui-sref="upload">
        <a>Încarcă fișiere</a>
      </div>
      <div class="row menu-int" ng-class="{'menu-active':state.current.name.indexOf('forum') != -1}" ui-sref="forum">
        <a>Forum</a>
      </div>
      <div class="row menu-int" ng-class="{'menu-active':state.current.name=='settings'}" ui-sref="settings">
        <a>Detalii cont</a>
      </div>
    </div>