<!-- Modal autentificare-->
<div class="modal fade" id="login-modal" role="dialog" ng-controller="LoginController" style="margin-top: 15%;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="height:40%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title text-center">Autentificare</h4>
      </div>
      <div class="modal-body">
        <div class="row" ng-if="unauthorizedMessage">
          <div class="col-xs-12 error text-center" style="color:grey;">
            {{unauthorizedMessage}}
          </div>
        </div>
        <form name="loginForm" ng-submit="login()" novalidate>
          <div class="row padding-bottom">
            <div class="col-xs-12 col-sm-6 padding-bottom">
              <input type="text" name="email" placeholder="Introduceți email" ng-model="credentials.email" required class="col-xs-10 col-xs-offset-1">
              <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched || loginForm.$submitted">
                <p class="col-xs-10 col-xs-offset-1" style="color:grey;" ng-message="required">Câmp obligatoriu!</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 padding-bottom">
              <input type="password" name="password" placeholder="Introduceți parola" ng-model="credentials.password" ng-minlength="5" required class="col-xs-10 col-xs-offset-1">
               <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched || loginForm.$submitted">
                <p class="col-xs-10 col-xs-offset-1" style="color:grey;" ng-message="required">Câmp obligatoriu!</p>
                <p class="col-xs-10 col-xs-offset-1" ng-message="minlength" style="color:grey;">Parola trebuie să conțină minim 5 caractere!</p>
              </div>
            </div>
          </div>
        	<div class="row text-center">
        		<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Autentificare</button>
        	</div>
        </form>
      </div>
    </div>
  </div>
</div>