<!-- Modal inregistrare-->
<div class="modal fade" id="register-modal" role="dialog" style="margin-top: 10%;" ng-controller="RegisterController">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="height:60%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title text-center">Înregistrare</h4>
      </div>
      <div class="modal-body">
        <div class="row" ng-if="uniqueEmailMessage">
          <div class="col-xs-12 error text-center" style="color:grey;">
            {{uniqueEmailMessage}}
          </div>
        </div>
        <form name="registerForm" ng-submit="register()" novalidate>
          <div class="row padding-bottom">
            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 padding-bottom" style="">
              <input class="register-input" type="text" placeholder="Nume" name="lastname" ng-model="registerData.lastname" required class="col-xs-10 col-xs-offset-1">
              <div ng-messages="registerForm.lastname.$error" ng-if="registerForm.lastname.$touched || registerForm.$submitted">
                <p class="text-center" ng-message="required" style="color:grey;">Câmp obligatoriu!</p>
              </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 padding-bottom" style="">
              <input class="register-input" type="text" placeholder="Prenume" name="firstname" ng-model="registerData.firstname" required class="col-xs-10 col-xs-offset-1">
              <div ng-messages="registerForm.firstname.$error" ng-if="registerForm.firstname.$touched || registerForm.$submitted">
                <p class="text-center" ng-message="required" style="color:grey;">Câmp obligatoriu!</p>
              </div>
            </div>
          </div>
          <div class="row padding-bottom">
            <div class="col-xs-10 col-xs-offset-1">
              <input class="register-input" type="text" placeholder="Email" name="email" ng-model="registerData.email" required class="col-xs-10 col-xs-offset-1">
            </div>
            <div class="col-xs-12" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched || registerForm.$submitted">
              <p  class="text-center" ng-message="required" style="color:grey;">Câmp obligatoriu!</p>
            </div>
          </div>
          <div class="row text-center">
            <button class="btn btn-primary" type="submit" ng-disabled="registerForm.$invalid">Creare cont</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>