<!-- Modal autentificare-->
<div class="modal fade" id="request-password-modal" role="dialog" style="margin-top: 15%;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="height:40%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title text-center">Introduceti parola</h4>
      </div>
      <div class="modal-body">
        <div class="row" ng-if="$parent.error != ''">
          <div class="col-xs-12">
            {{$parent.error}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input type="text" placeholder="Parola" ng-model="$parent.password" ng-change="$parent.error = ''" style="width: 100%;"/>
          </div>
        </div>
        <div class="row">
          <div clsas="col-xs-12">
            <a class="btn btn-primary" ng-click="confirmPassword()">Confirma</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>