<!-- Modal autentificare-->
<div class="modal fade" id="share-link-modal" role="dialog" style="margin-top: 15%;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="height:40%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title text-center">Link descărcare</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-9">
            <input type="text" value="{{'http://localhost/fastshare/download/' + download_url}}" readonly style="width: 100%;"/>
          </div>
          <div class="col-xs-3">
            <div clipboard supported="supported" text="'http://localhost/fastshare/download/' + download_url" on-copied="copyToClipboardSuccess()">
              <i class="fa fa-clipboard" aria-hidden="true"></i> Copiază
            </div>
          </div>
        </div>
        <div class="row" ng-if="viewCopiedMessage">
          <div class="col-xs-3 col-xs-offset-9" style="color:red;">
            Copiat
          </div>
        </div>
      </div>
    </div>
  </div>
</div>